<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>avator1.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,756},{241,221}}</string>
                <key>offset</key>
                <string>{35,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,44},{241,221}}</string>
                <key>sourceSize</key>
                <string>{311,265}</string>
            </dict>
            <key>avator2.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,142},{299,247}}</string>
                <key>offset</key>
                <string>{6,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,18},{299,247}}</string>
                <key>sourceSize</key>
                <string>{311,265}</string>
            </dict>
            <key>avator3.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,520},{291,233}}</string>
                <key>offset</key>
                <string>{10,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,32},{291,233}}</string>
                <key>sourceSize</key>
                <string>{311,265}</string>
            </dict>
            <key>avator4.png</key>
            <dict>
                <key>frame</key>
                <string>{{763,443},{311,245}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{311,245}}</string>
                <key>sourceSize</key>
                <string>{311,265}</string>
            </dict>
            <key>btm_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,998},{164,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,30}}</string>
                <key>sourceSize</key>
                <string>{164,30}</string>
            </dict>
            <key>buy_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,966},{170,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,30}}</string>
                <key>sourceSize</key>
                <string>{170,30}</string>
            </dict>
            <key>cloud.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,687},{144,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,128}}</string>
                <key>sourceSize</key>
                <string>{144,128}</string>
            </dict>
            <key>coin_tips1.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,920},{101,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,13}}</string>
                <key>sourceSize</key>
                <string>{101,13}</string>
            </dict>
            <key>coin_tips2.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,822},{107,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,13}}</string>
                <key>sourceSize</key>
                <string>{107,13}</string>
            </dict>
            <key>confirm_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,807},{194,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,130}}</string>
                <key>sourceSize</key>
                <string>{194,130}</string>
            </dict>
            <key>confirm_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,782},{115,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,18}}</string>
                <key>sourceSize</key>
                <string>{115,18}</string>
            </dict>
            <key>createGroup_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1001},{84,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,29}}</string>
                <key>sourceSize</key>
                <string>{84,29}</string>
            </dict>
            <key>createGroup_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,970},{84,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,29}}</string>
                <key>sourceSize</key>
                <string>{84,29}</string>
            </dict>
            <key>createGroup_btn3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,970},{84,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,29}}</string>
                <key>sourceSize</key>
                <string>{84,29}</string>
            </dict>
            <key>createGroup_tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,671},{145,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,14}}</string>
                <key>sourceSize</key>
                <string>{145,14}</string>
            </dict>
            <key>credits01.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,2},{368,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{368,78}}</string>
                <key>sourceSize</key>
                <string>{368,78}</string>
            </dict>
            <key>credits02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{390,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{390,136}}</string>
                <key>sourceSize</key>
                <string>{390,136}</string>
            </dict>
            <key>dissolve_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,939},{84,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,29}}</string>
                <key>sourceSize</key>
                <string>{84,29}</string>
            </dict>
            <key>dissolve_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,939},{84,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,29}}</string>
                <key>sourceSize</key>
                <string>{84,29}</string>
            </dict>
            <key>dissovle_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,902},{136,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,16}}</string>
                <key>sourceSize</key>
                <string>{136,16}</string>
            </dict>
            <key>error_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,601},{157,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,40}}</string>
                <key>sourceSize</key>
                <string>{157,40}</string>
            </dict>
            <key>gold_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,879},{164,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,170}}</string>
                <key>sourceSize</key>
                <string>{164,170}</string>
            </dict>
            <key>gold_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,755},{177,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,186}}</string>
                <key>sourceSize</key>
                <string>{177,186}</string>
            </dict>
            <key>gpw_tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,747},{130,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,14}}</string>
                <key>sourceSize</key>
                <string>{130,14}</string>
            </dict>
            <key>groupMask1.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,362},{322,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{322,156}}</string>
                <key>sourceSize</key>
                <string>{322,156}</string>
            </dict>
            <key>groupMask2.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,2},{256,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,138}}</string>
                <key>sourceSize</key>
                <string>{256,138}</string>
            </dict>
            <key>group_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,82},{351,278}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{351,278}}</string>
                <key>sourceSize</key>
                <string>{351,278}</string>
            </dict>
            <key>group_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{713,969},{40,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,38}}</string>
                <key>sourceSize</key>
                <string>{40,38}</string>
            </dict>
            <key>group_content1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,373},{336,199}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{336,199}}</string>
                <key>sourceSize</key>
                <string>{336,199}</string>
            </dict>
            <key>group_content2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,140},{336,231}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{336,231}}</string>
                <key>sourceSize</key>
                <string>{336,231}</string>
            </dict>
            <key>hcmode_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{1003,904},{61,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,19}}</string>
                <key>sourceSize</key>
                <string>{61,19}</string>
            </dict>
            <key>input_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,755},{115,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,25}}</string>
                <key>sourceSize</key>
                <string>{115,25}</string>
            </dict>
            <key>input_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,802},{114,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,18}}</string>
                <key>sourceSize</key>
                <string>{114,18}</string>
            </dict>
            <key>join_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,168},{52,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,26}}</string>
                <key>sourceSize</key>
                <string>{52,26}</string>
            </dict>
            <key>join_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,140},{52,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,26}}</string>
                <key>sourceSize</key>
                <string>{52,26}</string>
            </dict>
            <key>kick_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,689},{45,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,24}}</string>
                <key>sourceSize</key>
                <string>{45,24}</string>
            </dict>
            <key>kick_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,663},{45,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,24}}</string>
                <key>sourceSize</key>
                <string>{45,24}</string>
            </dict>
            <key>kick_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,1030},{164,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,16}}</string>
                <key>sourceSize</key>
                <string>{164,16}</string>
            </dict>
            <key>loading_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,362},{109,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,19}}</string>
                <key>sourceSize</key>
                <string>{109,19}</string>
            </dict>
            <key>lock_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,837},{27,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,28}}</string>
                <key>sourceSize</key>
                <string>{27,28}</string>
            </dict>
            <key>lock_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,837},{27,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,28}}</string>
                <key>sourceSize</key>
                <string>{27,28}</string>
            </dict>
            <key>lock_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1010,443},{10,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,11}}</string>
                <key>sourceSize</key>
                <string>{10,11}</string>
            </dict>
            <key>login_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,217},{48,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,49}}</string>
                <key>sourceSize</key>
                <string>{48,49}</string>
            </dict>
            <key>login_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1032},{64,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,32}}</string>
                <key>sourceSize</key>
                <string>{64,32}</string>
            </dict>
            <key>login_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{679,800},{64,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,32}}</string>
                <key>sourceSize</key>
                <string>{64,32}</string>
            </dict>
            <key>menu01.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,267},{151,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,48}}</string>
                <key>sourceSize</key>
                <string>{151,48}</string>
            </dict>
            <key>menu01_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{747,147},{325,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{325,14}}</string>
                <key>sourceSize</key>
                <string>{325,14}</string>
            </dict>
            <key>menu02.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,504},{157,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{157,46}}</string>
                <key>sourceSize</key>
                <string>{159,46}</string>
            </dict>
            <key>menu02_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,489},{47,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,13}}</string>
                <key>sourceSize</key>
                <string>{47,13}</string>
            </dict>
            <key>menu03.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,1001},{83,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,39}}</string>
                <key>sourceSize</key>
                <string>{83,39}</string>
            </dict>
            <key>menu03_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,474},{47,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,13}}</string>
                <key>sourceSize</key>
                <string>{47,13}</string>
            </dict>
            <key>menu04.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,456},{143,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,45}}</string>
                <key>sourceSize</key>
                <string>{143,45}</string>
            </dict>
            <key>menu04_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,441},{46,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,13}}</string>
                <key>sourceSize</key>
                <string>{46,13}</string>
            </dict>
            <key>nameInput_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,939},{35,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,13}}</string>
                <key>sourceSize</key>
                <string>{35,13}</string>
            </dict>
            <key>nameplate_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,884},{136,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,16}}</string>
                <key>sourceSize</key>
                <string>{136,16}</string>
            </dict>
            <key>news_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,1042},{37,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,40}}</string>
                <key>sourceSize</key>
                <string>{37,40}</string>
            </dict>
            <key>no_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,718},{64,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,32}}</string>
                <key>sourceSize</key>
                <string>{64,32}</string>
            </dict>
            <key>no_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,652},{64,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,32}}</string>
                <key>sourceSize</key>
                <string>{64,32}</string>
            </dict>
            <key>notice_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,789},{202,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,16}}</string>
                <key>sourceSize</key>
                <string>{202,16}</string>
            </dict>
            <key>notice_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,920},{76,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,134}}</string>
                <key>sourceSize</key>
                <string>{76,134}</string>
            </dict>
            <key>notice_mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,934},{170,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,16}}</string>
                <key>sourceSize</key>
                <string>{170,16}</string>
            </dict>
            <key>pause_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,420},{46,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,19}}</string>
                <key>sourceSize</key>
                <string>{46,19}</string>
            </dict>
            <key>profile_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,574},{224,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,171}}</string>
                <key>sourceSize</key>
                <string>{224,171}</string>
            </dict>
            <key>profile_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,817},{67,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,55}}</string>
                <key>sourceSize</key>
                <string>{67,55}</string>
            </dict>
            <key>profile_closeBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,998},{38,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,40}}</string>
                <key>sourceSize</key>
                <string>{38,40}</string>
            </dict>
            <key>pwInput_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,574},{23,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,14}}</string>
                <key>sourceSize</key>
                <string>{23,14}</string>
            </dict>
            <key>quest_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,715},{44,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,43}}</string>
                <key>sourceSize</key>
                <string>{44,43}</string>
            </dict>
            <key>quit_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,1029},{84,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,29}}</string>
                <key>sourceSize</key>
                <string>{84,29}</string>
            </dict>
            <key>quit_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,998},{84,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,29}}</string>
                <key>sourceSize</key>
                <string>{84,29}</string>
            </dict>
            <key>quit_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,866},{136,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,16}}</string>
                <key>sourceSize</key>
                <string>{136,16}</string>
            </dict>
            <key>ranking_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,817},{67,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,56}}</string>
                <key>sourceSize</key>
                <string>{67,56}</string>
            </dict>
            <key>record_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{1003,967},{56,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,19}}</string>
                <key>sourceSize</key>
                <string>{56,19}</string>
            </dict>
            <key>refresh_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,574},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>result_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,196},{52,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,19}}</string>
                <key>sourceSize</key>
                <string>{52,19}</string>
            </dict>
            <key>search_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,574},{26,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,25}}</string>
                <key>sourceSize</key>
                <string>{26,25}</string>
            </dict>
            <key>search_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,837},{27,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,26}}</string>
                <key>sourceSize</key>
                <string>{27,26}</string>
            </dict>
            <key>select_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{1003,836},{66,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,19}}</string>
                <key>sourceSize</key>
                <string>{66,19}</string>
            </dict>
            <key>shinobiCard_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,760},{207,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,42}}</string>
                <key>sourceSize</key>
                <string>{207,42}</string>
            </dict>
            <key>shinobiCard_mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,747},{207,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{207,40}}</string>
                <key>sourceSize</key>
                <string>{207,40}</string>
            </dict>
            <key>shinobiCard_null.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,643},{150,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,26}}</string>
                <key>sourceSize</key>
                <string>{150,26}</string>
            </dict>
            <key>staff_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,574},{42,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,19}}</string>
                <key>sourceSize</key>
                <string>{42,19}</string>
            </dict>
            <key>startmenu_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{1003,756},{78,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,19}}</string>
                <key>sourceSize</key>
                <string>{78,19}</string>
            </dict>
            <key>surrender_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,934},{170,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,30}}</string>
                <key>sourceSize</key>
                <string>{170,30}</string>
            </dict>
            <key>tasks_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1066},{38,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,34}}</string>
                <key>sourceSize</key>
                <string>{38,34}</string>
            </dict>
            <key>userInput_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{679,784},{33,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,14}}</string>
                <key>sourceSize</key>
                <string>{33,14}</string>
            </dict>
            <key>warning_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{747,82},{63,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,15}}</string>
                <key>sourceSize</key>
                <string>{63,15}</string>
            </dict>
            <key>yes_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,586},{64,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,32}}</string>
                <key>sourceSize</key>
                <string>{64,32}</string>
            </dict>
            <key>yes_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,520},{64,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,32}}</string>
                <key>sourceSize</key>
                <string>{64,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Menu.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:218f9a35b6016729de552ca4b1f69a9d$</string>
            <key>textureFileName</key>
            <string>Menu.png</string>
        </dict>
    </dict>
</plist>
